      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
          <button type="button btn-primary" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-collapse">
              <span>Menu <i class="fa fa-cog" style="margin-left:4px;"></i></span>
              </button>
              <!--<a class="navbar-brand" href="/"><input type=image src="{{ STATIC_URL }}images/blue_shell.png"></i> <span class="logoText pull-left"><strong>M</strong>ario<br /><strong>K</strong>artlytics</a> -->
              <a class="navbar-brand" href="/"><i class="fa fa-gamepad fa-4x pull-left"></i> <span class="logoText pull-left"><strong>M</strong>ario<br /><strong>K</strong>artlytics</a>
          </div>
          <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="/query/"><i class="fa fa-trophy"></i> Query</a></li>
            <li><a href="/watch/"><i class="fa fa-film"></i> Watch</a></li>
            <li><a href="/upload/"><i class="fa fa-upload"></i> Upload</a></li>
            <li><a href="/login/"><i class="fa fa-sign-out"></i> Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
      </div>
