      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
          <button type="button btn-primary" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-collapse">
            <span>Menu <i class="fa fa-cog" style="margin-left:4px;"></i></span>
          </button>
            <a class="navbar-brand" href="home.php"><i class="fa fa-cloud fa-4x pull-left"></i> <span class="logoText pull-left"><strong>M</strong>ario<br /><strong>K</strong>artlytics</a>
          </div>
          <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><i class="fa fa-home"></i> Home</a></li>
            <li><i class="fa fa-shopping-cart"></i> Marketplace</a></li>
            <li class="active"><a href="mycloud.php"><i class="fa fa-cloud"></i> MyCloud</a></li>
            <li><i class="fa fa-truck"></i> Providers</a></li>
            <li><i class="fa fa-sign-out"></i> Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
      </div>
