<!DOCTYPE html>
<html>
  <head>
    {% include "include/custom_meta.html" %}
    <title>{% block title %}Home{% endblock %}</title>
    {% block css %}
        {% include "include/stylesheets.html" %}
    {% endblock %}
  </head>

  <body> 
    <div id="wrap">
    {% block navbar %}
        {% include "include/navbar.html" %}
    {% endblock %}
    {% block content %}
        <div class="container">
            {% block sidebar %}
            {% endblock %}
            <div class="row">
                    {% block main %}
                    <center><h3>Welcome to our website!! Please upload a file to be processed or submit a query!!</h3></br></br>
                    <img src="{{ STATIC_URL }}images/koopa_beach.png" width="600" alt="Da best track!">
                    {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
    <div id="footer">
    {% block footer %}
        {% include "include/footer.html" %}
    {% endblock %}
    </div>
    {% block js %}
      {% include "include/scripts.html" %}
    {% endblock %}
    <div id="modal_wrapper" />
  </body>
</html>
