<!DOCTYPE html>
<html>
  <head>
    {% include "include/custom_meta.html" %}
    <title>{% block title %}Home{% endblock %}</title>
    {% block css %}
        {% include "include/stylesheets.html" %}
    {% endblock %}
  </head>

  <body> 
    {% block navbar %}
        {% include "include/navbar.html" %}
    {% endblock %}
    <div id="wrap">
        <div class="container">
            <div id="row">
            {% block content %}
                {% block sidebar %}
                <div class="col-sm-3">
                    {% include "include/account.html" %}     
                </div>
                {% endblock %}

                {% block main %}
                <div class="col-md-9">
                    {% if user.is_authenticated %}
                        <center><h3>~ welcome to our website ~ please use links ^ to query / watch / upload ~</h3></br></br>
                    {% else %}
                        <center><h3>~ welcome to our website  ~  please sign in to get started ~</h3></br></br>
                    {% endif %}
                    <img src="{{ STATIC_URL }}images/koopa_beach.png" width="400" alt="Da best track!">
                </div>
                {% endblock %}
            </div>
        {% endblock %}
        </div>
    </div>
    <div id="footer">
    {% block footer %}
        {% include "include/footer.html" %}
    {% endblock %}
    </div>
    {% block js %}
      {% include "include/scripts.html" %}
    {% endblock %}
  </body>
</html>
