{% extends "base.html" %}

{% block title %}Query{% endblock %}

{% block content %}
    <div class="container">   
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Query language:</h3>
                    </div>    
                    <div class="panel-body">
                        <p>Elements:</br>
                        <p>Conditions:</br>
                    </div>
                </div>
            </div>      
            {% if result_table %}
            <div class="col-md-9 content">
                <h2><i class="fa fa-cloud"></i> Results:</h2>
                {% for row in result_table %}
                <table>
                    {{ row }}
                </table>
            </div>
            <div class="col-md-9 content">
                <h2><i class="fa fa-cloud"></i> Please enter another query: </h2>
                <table>
                    {{ form.as_table }}
                </table>
            </div>
            {% else %}
            <div class="col-md-9 content">
                <h2><i class="fa fa-cloud"></i> Please enter query: </h2>
                <table>
                    {{ form.as_table }}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

