{% extends "base.html" %}

{% block title %}Query{% endblock %}

{% block content %}
    <div class="container">   
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="panel panel-default" style="display:none;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Marketplace</h3>
                    </div>    
                    <div class="panel-body">
                       <a href="/query" class="btn btn-primary" role="button"><i class="fa fa-shopping-cart"></i> View Market</a>
                    </div>
                </div>
            </div>      
            <div class="col-md-9 content">
                <h2><i class="fa fa-cloud"></i> My Cloud</h2>
                    <form action="" method="post">
                        <table>
                            {{ form.as_table }}
                        </table>
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
            </div>
        </div>
    </div>
{% endblock %}

