{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block sidebar %} {% endblock %}

{% block main %}
<div class="container">            
        <h1>Upload a video</h1>

        <div class="container">
            <div id="choose-file">
                <h2>Choose a File</h2>
                <input type="file" id="file" onchange="s3_upload();"/>
            </div>

            <div id="uploading" class="hidden">
                <h2>Uploading</h2>
                <div id="video-progress" class="progress progress-striped active">
                    <div id="video-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0", aria-valuemin="0" aria-valuemax="100">
                        <span id="sr-prog" class="sr-only"></span>
                    </div>
                </div>
                <div id="upload-message" class="alert hidden"></div>
            </div>
        </div>

        <div class="container">
            <form method="POST" action="/upload/" class="hidden" id="start-form" role="form">
                {% csrf_token %}
                <input type="hidden" id="video_url" name="video_url" value="" />
                <button class="btn btn-primary" id='upload_button' type="submit" disabled/>Start Job</button>
            </form>
        </div>

</div>                              

<script type="text/javascript" src="https://rawgithub.com/lodash/lodash/2.4.1/dist/lodash.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/s3upload.js"></script>

<script type="text/javascript">
function s3_upload(){
    var path = $('#file')[0].value;
    var file_name = path.match(/[^\/\\]+$/);
    var s3upload = new S3Upload({
        file_dom_selector: 'file',
        s3_sign_put_url: '/sign_s3/',
        s3_object_name:  file_name,

        onProgress: function(percent, message) {
            $('#choose-file').hide();
            $('#file').hide();
            $('#uploading').removeClass("hidden");
            $('#video-progress').removeClass("hidden");
            $('#video-progress-bar').css('width', percent+'%').attr('aria-valuenow', percent);
            $('#sr-prog').html(percent + "% complete");
            $('#file').attr("disabled", "disabled");
        },
        onFinishS3Put: function(url) {
            $('#video-progress').removeClass("active");
            $('#video-progress-bar').addClass("progress-bar-success");
            $('#upload-message').html("<strong>Success!</strong> Your video was successfully uploaded");
            $('#upload-message').addClass("alert-success");
            $('#upload-message').removeClass("hidden");
            $('#video_url').val(url);
            $('#upload_button').removeAttr('disabled');
            $("#start-form").removeClass("hidden");
        },
        onError: function(status) {
            $('#upload-message').html("<strong>Error!</strong> " + status);
            $('#video-progress').hide();
            $('#upload-message').addClass("alert-danger");
            $('#upload-message').removeClass("hidden");
        }
    });
}
</script>

{% endblock %}

