{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
<div class="container">   
    <div class="row">
<h1>Upload a video</h1>

<input type="file" id="file" onchange="s3_upload();"/>
<p id="status">Please select a file</p>

<form method="POST" action="/upload/">
    {% csrf_token %}
    <input type="hidden" id="video_url" name="video_url" value="" />
    <button id='upload_button' type="submit" disabled/>Upload</button>
</form>

    </div>
</div>

<script type="text/javascript" src="https://rawgithub.com/lodash/lodash/2.4.1/dist/lodash.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}/js/s3upload.js"></script>

<script type="text/javascript">
function s3_upload(){
    var path = $('#file')[0].value;
    var file_name = path.match(/[^\/\\]+$/);
    var s3upload = new S3Upload({
        file_dom_selector: 'file',
        s3_sign_put_url: '/sign_s3/',
        s3_object_name:  file_name,

        onProgress: function(percent, message) {
            $('#status').html('Upload progress: ' + percent + '%' + message);
        },
        onFinishS3Put: function(url) {
            $('#status').html('Upload completed. Uploaded to: '+ url);
            $('#video_url').val(url);
            $('#upload_button').removeAttr('disabled');
        },
        onError: function(status) {
            $('#status').html('Upload error: ' + status);
        }
    });
}
</script>

{% endblock %}

