{% extends "base.html" %}
{% block main %}
    <div class="container">   
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Please choose your video!</h3>
                    </div>    
                    <div class="panel-body">
                        <form action="" method="post">
                            <table>
                                {{ form.as_table }}
                            </table>
                            {% csrf_token %}
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>      
            {% if video %}
            {# youtube video code - <embed id="movie_player" bgcolor="#000000" allowfullscreen="true" allowscriptaccess="always" flashvars="hl=en&sffb=true&ad_preroll=1&afv_video_min_cpm=6000000&cust_…2Fyts%2Fimg%2Fwatermark%2Fyoutube_hd_watermark-vflAzLcD6.png" name="movie_player" src="https://s.ytimg.com/yts/swfbin/player-vflj8NE0I/watch_as3.swf" type="application/x-shockwave-flash"></embed> #}
            <div class="col-md-9 content">
                <h2><i class="fa fa-cloud"></i> Results:</h2>
                <video width="320" height="240" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
                </video> 
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
